{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "modules": false
    }],
    ["@babel/preset-react", {
      "runtime": "automatic",
      "importSource": "preact"
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "automatic", 
      "importSource": "preact"
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          },
          "modules": "commonjs"
        }],
        ["@babel/preset-react", {
          "runtime": "automatic",
          "importSource": "preact"
        }]
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-transform-react-jsx", {
          "runtime": "automatic",
          "importSource": "preact"
        }]
      ]
    }
  }
}