.eosc-common {
  font-family: Roboto, Inter, Helvetica Neue, Arial, sans-serif !important;

  .container {
    max-width: 1340px;
  }

  &.demo {
    position: relative;
  }

  &.demo {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      //background: crimson;
      opacity: 0.2;
      color: rgba(220, 20, 60);
      font-weight: 900;
      padding: 5px 10px;
      text-transform: uppercase;
      content: "demo instance";
      background-color: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.53);
      box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.53);
    }
  }
}

.eosc-back-search-bar {
  background: #3d4db6;
  height: 40px;
  position: relative;
}
.eosc-back-link {
  margin-top: 18px;
  > a {
    color: #ffffff !important;
  }
  > .chevron-left {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 32 32'%3E%3Cpath d='M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z'/%3E%3C/svg%3E");
    margin-top: -2px;
    margin-right: 5px;
    height: 12px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
