$font-size-base: 16px !default;// 1rem !default; // Assumes the browser default, typically `16px`

$color-4: #007019;
$color-white: #fff;
$color-black: #000;
$color-secondary: #ffcd00;
$color-6: #a6aeb1;
$color-7: #F2F2F2;

$color-primary: #1B2827;
$color-secondary: #ffcd00;
$color-text: #1B2827;
$color-3: #f8f9fa;
$color-new-blue: #3D4DB6;


$palette-gray-100: $color-text;
$palette-gray-50: rgba($palette-gray-100, 0.5);
$palette-gray-80: rgba($palette-gray-100, 0.8);

$font-size-sm: 15px !default;

$font-weight-normal: 300; // Ubuntu regular
