.totop-wrapper {
  background: #D0CDAF;
  color: #1B2827;
  display: flex;
  padding: 12px 0;
  align-items: center;
  gap: 10px;

  a {
    color: #1B2827;

    svg {
      margin-right: 5px;
      width: 9.999px;
      height: 8.575px;
    }
  }

  a:link {
    text-decoration: none;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
}
